body{
    background-color: rgb(0, 0, 0);
}

#stage{
    margin-top: 0px;
    border: 6px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
    margin: 0, 10, 10, 10;
}       

#title{
    margin-top: 60px;
    color: rgb(255, 255, 255);
    font-family: Comfortaa;
    font-size: 25pt;

}

#score{
    color: white;
    font-family: Comfortaa;
    font-size: 30pt;
}

.leaderboard-title{
    color : white;
    font-size: 22pt;
    font-family: Comfortaa;
    margin-left: 150px;
    margin-top: 0px;
}

#leaderboard{
    color: white;
    font-family: Comfortaa;
    font-size: 15pt;
    margin-left: 50px;
}

#textBox{
    color: white;
    font-family: Comfortaa;
    width:400px;
    margin-left: 158px;
    font-size: 15pt;
} 